/* ACHIEVEMENTS START / НАЧАЛО ДОСТИЖЕНИЙ */
.achievements_inner {
    display: flex;
    justify-content: center;
	margin-top: 25px;
}

.achievements_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    transition: 1s;
}

.achievements_item a {
    text-decoration: none;
}

.achievements_item img {
    width: 250px;
    transition: 1s;
    text-align: center;
    text-shadow: 5px #ca75ff75;
    margin: auto;
}

.achievements_item:hover {
    transform: scale(1.2);
}

.achievements_item p {
    text-align: center;
    justify-content: center;
    color: #ccd7ff;
    font-weight: 600;
	font-size: calc(12px + 6 * (100vw / 1280));
	/*font-size: 18px;*/
	filter: drop-shadow(0 0px 70px #ca75ff75);
}
/* ACHIEVEMENTS END / КОНЕЦ ДОСТИЖЕНИЙ */