/* Настольные компьютеры и ноутбуки ----------- 
@media only screen  and (min-width: 600px) {
    * {
        font-size: 3em;
        color: red;
    }
}
*/

/* Большие экраны ----------- 
@media only screen  and (min-width: 1000px) {
    * {
        font-size: 2em;
        color: green;
    }
 }
*/


/* Adaptability / Адаптивность */
@media (max-width: 1363px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}

	.title {
		font-size: 64px;
		white-space: nowrap;
	}
	
	.photo img {
		height: 500px;
	}

	.about_me_text div  {
		font-size: 24px;
		line-height: 36px;
	}


	.about_me_text {
		margin-left: 50px;
	}

	.btn-shine {
		font-size: 24px;
	}

	.what_can_i_do_point_text h3 {
		font-size: 24px;
	}

	.what_can_i_do_point_text p {
		font-size: 20px;

	}


}

@media (max-width: 767px) {
	.container {
		max-width: 0;
	}

	.about_me_inner {
		flex-direction: column;
	}
}