/* FOOTER START / НАЧАЛО ПОДВАЛА */
.footer {
	padding: 30px 0;
	border-top: 1px solid transparent;
	border-image: linear-gradient(to right, #010511 , #CB75FF , #010511);
	border-image-slice: 1;
}

.footer_inner {
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer_logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: calc(12px + 6 * (100vw / 1280));
	/*font-size: 18px;*/
	letter-spacing: 1px;
    line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #708FFF;
}

.footer_title {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 700;
	font-size: calc(12px + 6 * (100vw / 1280));
	/*font-size: 18px;*/
	color: #CB75FF;
	text-transform: uppercase;
}

.footer_contacts {
    display: inline-flex;
    flex-direction: row;
	justify-content: flex-end;
    text-align: left;
}

.flex {
    display: inline-flex;
}

.flex nav {
    display: flex;
    padding: 5px 0;
}

.footer_contacts_inner {
    display: inline-flex;
	margin: 0 20px;
	align-items: center;
}

.footer_contacts_inner img {
    height: 35px;
}

.footer_contacts_inner a {
    font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: calc(12px + 6 * (100vw / 1280));
	/*font-size: 18px;*/

	color: #ccd7ff;
    padding-left: 15px;
    text-decoration: none;
    text-align: left;
}
/* FOOTER END / КОНЕЦ ПОДВАЛА */