/* Universal styles / Универсальные стили */
body {  
	font-family: 'Montserrat', sans-serif;
	font-family: 'Montserrat Alternates', sans-serif;
   	font-size: 15px;
   	color: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
	background-color: #010511;
}

 *,
 *:before
 *:after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

p {
	line-height: 26px;
}

.title {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 800;
	font-size: calc(24px + 24 * (100vw / 1280));
	/*font-size: 48px;*/
	color: #CB75FF;
	text-align: center;
	text-transform: uppercase;
}

.subtitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: calc(12px + 6 * (100vw / 1280));
	/*font-size: 18px;*/
	color: #708FFF;
	text-align: center;
	padding: 20px 0 10px 0;
}

.block {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	text-align: left;
	padding: 40px 0;
}

/* Container / Контейнер */
.container {
	max-width: 1280px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	padding: 0 15px;
}

/* Scrollba / Скролл */
body::-webkit-scrollbar {
	width: 15px;
}

body::-webkit-scrollbar-track {
	background-color: #010511;
	cursor: pointer;
}

body::-webkit-scrollbar-thumb {
	background: #CB75FF;
	background-size: contain;
	border-radius: 30px;
}

/* Adaptability / Адаптивность */
@media (max-width: 1363px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}

	.title {
		font-size: 64px;
		white-space: nowrap;
	}
	.photo img {
		height: 700px;
	}

	.about_me_text div  {
		font-size: 24px;
		line-height: 36px;
	}


	.about_me_text {
		margin-left: 50px;
	}

}

@media (max-width: 767px) {
	.container {
		max-width: 0;
	}

	.about_me_inner {
		flex-direction: column;
	}
}